@model ProjeYonetim.Models.RaporTur
@{
    ViewData["Title"] = "Modül Ekle";
}

<div style="height:100px"></div>

<div class="container">
<form method="post" action="/Admin/AddRaporTuru">

  <input class="form-control" type="hidden" name="ProjeId" value='@ViewContext.RouteData.Values["projeid"]'>
  <input class="form-control" type="hidden" name="ModulId" value='@ViewContext.RouteData.Values["modulid"]'>
  
  <div class="form-group">
    <label>Adı</label>
    @Html.TextBoxFor(m=>m.Adi,new {@class="form-control"})
  </div>
  <div class="form-group">
    <label>Sıra</label>
    @Html.TextBoxFor(m=>m.Sira,new {@class="form-control"})
  </div>
  <div class="form-group">
    <label>Aktif</label>
    @Html.CheckBoxFor(m=>m.Active,new {@class="form-control"})
  </div>

  <div class="d-flex justify-content-between">
  <a asp-controller="Admin" asp-action="RaporTuru" asp-route-projeid='@ViewContext.RouteData.Values["projeid"]' asp-route-modulid='@ViewContext.RouteData.Values["modulid"]' class="btn btn-secondary">Geri Dön</a>
  <button type="submit" class="btn btn-success">Kaydet</button>
  </div>

</form>

</div>