@model ProjeYonetim.Models.RaporTur
@{
    ViewData["Title"] = "Rapor Türü Düzenle";
}

<div style="height:100px"></div>

<div class="container">
<form method="post" action="/Admin/EditRaporTuru">

  @Html.HiddenFor(m=>m.Id)
  @Html.HiddenFor(m=>m.ProjeId)
  @Html.HiddenFor(m=>m.ModulId)
  
  <div class="form-group">
    <label>Adı</label>
    @Html.TextBoxFor(m=>m.Adi,new {@class="form-control"})
  </div>
  <div class="form-group">
    <label>Sıra</label>
    @Html.TextBoxFor(m=>m.Sira,new {@class="form-control"})
  </div>
  <div class="form-group">
    <label>Aktif</label>
    @Html.CheckBoxFor(m=>m.Active,new {@class="form-control"})
  </div>

  <div class="d-flex justify-content-between">
  <a asp-controller="Admin" asp-action="RaporTuru" asp-route-projeid="@Model.ProjeId" asp-route-modulid='@Model.ModulId' class="btn btn-secondary">Geri Dön</a> 
  <button type="submit" class="btn btn-success">Kaydet</button>
  </div>

</form>

</div>