@model List<ProjeYonetim.Models.Proje>
@{
    ViewData["Title"] = "Projeler";
}

<div class="body-bg">
    <div class="mask"></div>
    <div class="container" style="position:relative;margin: 0 auto;">



<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Projeler</li>
  </ol>
</nav>

<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-info m-1" data-toggle="modal" data-target=".bd-example-modal-lg">Yeni Proje</button>
</div>
<table class="table table-striped">
    <thead class="table-dark" style="background-color:#5676c5">
        <tr class="text-center">
            <th>Proje Adı</th>
            <th>Aktif</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-light">
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <th>@item.Adi</th>
                @if(item.Active){
                    <th><i class="fas fa-check-circle fa-lg" style="color:green"></i></th>
                } else{
                <th><i class="fas fa-times-circle fa-lg" style="color:red"></i></th>
                }
                <th><a asp-action="EditProje" asp-route-projeid="@item.Id" class="btn btn-warning m-1">Düzenle</a>
                <a asp-action="Modul" asp-route-projeid="@item.Id" class="btn btn-primary m-1">Listele</a></th>
            </tr>
        }
    </tbody>
</table>

    
</div>
</div>

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Yeni Proje</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @using(Html.BeginForm("AddProje","Admin",null,FormMethod.Post,true,null)){
                <div class="form-group">
                    <label>Adı</label>
                    @Html.TextBox("Adi","",new {@class="form-control"})
                </div>
                <div class="form-group">
                    <label>Sıra</label>
                    @Html.TextBox("Sira","",new {@class="form-control"})
                </div>
                <div class="form-group">
                    <label>Aktif</label>
                    @Html.CheckBox("Active",true,new {@class="form-control"})
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>
                }
            </div>
        </div>
    </div>
</div>
