@model List<ProjeYonetim.Models.Modul>
@{
    ViewData["Title"] = "Modüller";
}

<div class="body-bg">
    <div class="mask"></div>
    <div class="container" style="position:relative;margin: 0 auto;">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Admin">Projeler</a></li>
    <li class="breadcrumb-item active" aria-current="page">Modüller</li>
  </ol>
</nav>


<div class="d-flex justify-content-end">
    <a href='/Admin/AddModul/@ViewContext.RouteData.Values["projeid"]' class="btn btn-info m-1">Yeni Modül</a>
</div>
<table class="table table-striped">
    <thead class="table-dark" style="background-color:#5676c5">
        <tr class="text-center">
            <th>Modul Adı</th>
            <th>Sıra</th>
            <th>Aktif</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-light">
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <th>@item.Adi</th>
                <th>@item.Sira</th>
                @if(item.Active){
                    <th><i class="fas fa-check-circle fa-lg" style="color:green"></i></th>
                } else{
                <th><i class="fas fa-times-circle fa-lg" style="color:red"></i></th>
                }
                <th><a asp-action="EditModul" asp-route-projeid="@item.ProjeId" asp-route-modulid="@item.Id" class="btn btn-warning m-1">Düzenle</a>
                <a asp-action="RaporTuru" asp-route-projeid="@item.ProjeId" asp-route-modulid="@item.Id" class="btn btn-primary m-1">Listele</a></th>
            </tr>
        }
    </tbody>
</table>

</div>
</div>