@model List<ProjeYonetim.Models.Modul>
@{
    ViewData["Title"] = "Modüller";
}

<div class="body-bg">
    <div class="mask"></div>
    <div class="container" style="position:relative;margin: 0 auto;">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Admin">Projeler</a></li>
    <li class="breadcrumb-item active" aria-current="page">Modüller</li>
  </ol>
</nav>


<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-info m-1" data-toggle="modal" data-target=".bd-example-modal-lg">Yeni Modül</button>
</div>
<table class="table table-striped">
    <thead class="table-dark" style="background-color:#5676c5">
        <tr class="text-center">
            <th>Modul Adı</th>
            <th>Sıra</th>
            <th>Aktif</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-light">
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td class="name">@item.Adi</td>
                <td class="order">@item.Sira</td>
                @if(item.Active){
                    <td><i class="fas fa-check-circle fa-lg" style="color:green"></i></td>
                } else{
                <td><i class="fas fa-times-circle fa-lg" style="color:red"></i></td>
                }
                <td>
                 <button type="button" data-id="@item.Id" onclick="deleteProject(@item.Id)" class="btn btn-danger m-1">Sil</button>
                 <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg-2" class="btn btn-warning m-1" onclick="getModul(@item.Id)">Düzenle</button>
                <a asp-action="RaporTuru" asp-route-projeid="@item.ProjeId" asp-route-modulid="@item.Id" class="btn btn-primary m-1">Listele</a></td>
            </tr>
        }
    </tbody>
</table>

</div>
</div>

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Yeni Proje</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @using(Html.BeginForm("AddModul","Admin",null,FormMethod.Post,true,null)){
                <input class="form-control" type="hidden" name="ProjeId"
                    value='@ViewContext.RouteData.Values["projeid"]'>

                <div class="form-group">
                    <label>Adı</label>
                    @Html.TextBox("Adi","",new {@class="form-control"})
                </div>
                <div class="form-group">
                    <label>Sıra</label>
                    @Html.TextBox("Sira","",new {@class="form-control"})
                </div>
                <div class="form-group">
                    <label>Aktif</label>
                    @Html.CheckBox("Active",true,new {@class="form-control"})
                </div>
                <div class="form-group">
                    <label>Site Linki</label>
                    @Html.TextBox("DemoLink","",new {@class="form-control"})
                </div>
                <div class="form-group">
                    <label>Fontawesome Html</label>
                    @Html.TextBox("Fontawesome","",new {@class="form-control"})
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Modül Düzenle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @using(Html.BeginForm("EditModul","Admin",null,FormMethod.Post,true,null)){
                    <input type="hidden" id="mid" name="Id" value="">
                <input class="form-control" type="hidden" name="ProjeId" id="pid"
                    value='@ViewContext.RouteData.Values["projeid"]'>

                <div class="form-group">
                    <label>Adı</label>
                    @Html.TextBox("Adi","",new {@class="form-control",@id="eadi"})
                </div>
                <div class="form-group">
                    <label>Sıra</label>
                    @Html.TextBox("Sira","",new {@class="form-control",@id="esira"})
                </div>
                <div class="form-group">
                    <label>Aktif</label>
                    @Html.CheckBox("Active",true,new {@class="form-control"})
                </div>
                <div class="form-group">
                    <label>Site Linki</label>
                    @Html.TextBox("DemoLink","",new {@class="form-control",@id="edemolink"})
                </div>
                <div class="form-group">
                    <label>Fontawesome Html</label>
                    @Html.TextBox("Fontawesome","",new {@class="form-control",@id="efontawesome"})
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
       function getModul(id){
           $('#mid').val("");
            $('#pid').val("");
            $('#eadi').val("");
            $('#edemolink').val("");
            $('#efontawesome').val("");
           var model={id:id};
           $.ajax({
               url: "/Admin/GetModul",
               type:"GET",
               dataType:"json",
               data:model,
               success:function(res){
                   $('#mid').val(res.id);
                   $('#esira').val(res.sira);
                   $('#pid').val(res.projeId);
                   $('#eadi').val(res.adi);
                   $('#edemolink').val(res.demoLink);
                   $('#efontawesome').val(res.fontawesome);
               },
               error:function(res){
                   toastr.error("Bir hata oldu");
               }
           })
       }
             function deleteProject(id){
            var model={id:id};
            $.ajax({
               url: "/Services/RemoveModul",
               type:"GET",
               dataType:"json",
               data:model,
               success:function(res){
                   if(res==1){
                        toastr.success('Silme Başarılı');
                        location.reload();
                   }else if(res==2){
                       toastr.error('Alt bağlı raporlar silinmeden silme işlemi yapılamaz');
                   }
                   
               },
               error:function(res){
                   toastr.error("Bir hata oldu");
               }
           })
        }
    </script>
}