@model List<ProjeYonetim.Models.Rapor>
@{
    ViewData["Title"] = "Projeler";
}

<div class="body-bg">
    <div class="mask"></div>
    <div class="container" style="position:relative;margin: 0 auto;">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Admin">Projeler</a></li>
    <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Modul" asp-route-projeid='@ViewContext.RouteData.Values["projeid"]'>Modüller</a></li>
    <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="RaporTuru" asp-route-projeid='@ViewContext.RouteData.Values["projeid"]'
    asp-route-modulid='@ViewContext.RouteData.Values["modulid"]'>Rapor Türleri</a></li>
    <li class="breadcrumb-item active" aria-current="page">Raporlar</li>
  </ol>
</nav>

<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-info m-1" data-toggle="modal" data-target=".bd-example-modal-lg">Yeni Rapor</button>
</div>
<table class="table table-striped">
    <thead class="table-dark" style="background-color:#5676c5">
        <tr class="text-center">
            <th>Rapor Adı</th>
            <th>Sıra</th>
            <th>Aktif</th>
            <th></th>
        </tr>
    </thead>
   <tbody class="table-light">
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <th>@item.Adi</th>
                <th>@item.Sira</th>
                @if(item.Active){
                    <th><i class="fas fa-check-circle fa-lg" style="color:green"></i></th>
                } else{
                <th><i class="fas fa-times-circle fa-lg" style="color:red"></i></th>
                }<th>
               <button type="button" data-id="@item.Id" onclick="deleteProject(@item.Id)" class="btn btn-danger m-1">Sil</button>
               <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg-2" class="btn btn-warning m-1" onclick="getRapor(@item.Id)">Düzenle</button>
                <a href="/files/@item.Aciklama" target="_blank" class="btn btn-danger m-1">Görüntüle</a></th>
            </tr>
        }
    </tbody>
</table>

    </div>
    </div>


<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Yeni Proje</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @using(Html.BeginForm("AddRapor","Admin",null,FormMethod.Post,true,new {@enctype="multipart/form-data"})){

                <input class="form-control" type="hidden" name="ProjeId"
                    value='@ViewContext.RouteData.Values["projeid"]'>
                <input class="form-control" type="hidden" name="ModulId"
                    value='@ViewContext.RouteData.Values["modulid"]'>
                <input class="form-control" type="hidden" name="RaporTurId"
                    value='@ViewContext.RouteData.Values["raporturuid"]'>

                <div class="form-group">
                    
                    <label>Adı</label>
                    @Html.TextBox("Adi","",new {@class="form-control"})
                </div>
                <div class="form-group">
                    <label>Sıra</label>
                    @Html.TextBox("Sira","",new {@class="form-control"})
                </div>
                <div class="form-group">
                    <label>Aktif</label>
                    @Html.CheckBox("Active",true,new {@class="form-control"})
                </div>
                <div class="form-group">
                    <label>Tarih</label>
                    @Html.TextBox("Tarih","",new {@class="form-control",@type="date"})
                </div>
                <div class="form-group">
                    <label>Dosya</label>
                    <input type="file" class="form-control" name="file">
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>

                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-2"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Rapor Düzenle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @using(Html.BeginForm("EditRapor","Admin",null,FormMethod.Post,true,new {@enctype="multipart/form-data"})){

                <input class="form-control" type="hidden" name="ProjeId" id="projeid">
                <input class="form-control" type="hidden" name="ModulId" id="modulid">
                <input class="form-control" type="hidden" name="RaporTurId" id="raporturid">
                <input class="form-control" type="hidden" name="Id" id="rid">

                <div class="form-group">
                    
                    <label>Adı</label>
                    @Html.TextBox("Adi","",new {@class="form-control",@id="eadi"})
                </div>
                <div class="form-group">
                    <label>Sıra</label>
                    @Html.TextBox("Sira","",new {@class="form-control",@id="esira"})
                </div>
                <div class="form-group">
                    <label>Dosya Adı</label>
                    @Html.TextBox("Aciklama","",new {@class="form-control",@readonly=true,@id="edosyaadi"})
                </div>
                <div class="form-group">
                    <label>Aktif</label>
                    @Html.CheckBox("Active",true,new {@class="form-control",@id="EActive"})
                </div>
                <div class="form-group">
                    <label>Tarih</label>
                    @Html.TextBox("Tarih","",new {@class="form-control",@type="date",@id="etarih"})
                </div>
                <div class="form-group">
                    <label>Dosya</label>
                    <input type="file" class="form-control" name="file">
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>

                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
       function getRapor(id){
           $('#rid').val("");
            $('#projeid').val("");
            $('#modulid').val("");
            $('#raporturid').val("");
            $('#eadi').val("");
            $('#esira').val("");
            $('#edosyaadi').val("");
            $('#etarih').val("");
           var model={id:id};
           $.ajax({
               url: "/Admin/GetRapor",
               type:"GET",
               dataType:"json",
               data:model,
               success:function(res){
                   $('#rid').val(res.id);
                   $('#projeid').val(res.projeId);
                   $('#modulid').val(res.modulId);
                   $('#raporturid').val(res.raporTurId);
                   $('#eadi').val(res.adi);
                   $('#esira').val(res.sira);
                   $('#edosyaadi').val(res.aciklama);
                   var date=new Date(res.tarih).toLocaleDateString('fr-CA');
                   console.log(date)
                   $('#etarih').val(date);
               },
               error:function(res){
                   toastr.error("Bir hata oldu");
               }
           })
       }
       
                function deleteProject(id){
            var model={id:id};
            $.ajax({
               url: "/Services/RemoveRapor",
               type:"GET",
               dataType:"json",
               data:model,
               success:function(res){
                   if(res==1){
                        toastr.success('Silme Başarılı');
                        location.reload();
                   }else if(res==2){
                       toastr.error('Alt bağlı raporlar silinmeden silme işlemi yapılamaz');
                   }
                   
               },
               error:function(res){
                   toastr.error("Bir hata oldu");
               }
           })
        }
    </script>
}